@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section id="landing-section">
        <div class="row">
            <div class="col-lg-4">
                <div class="landing-text">
                    <h2>Kies een beroep wat<br /> <strong>jij leuk vindt</strong></h2>
                    <p>Wij hebben een uitgebreid assortiment aan vacatures op het gebied van software developement.</p>
                    <a class="btn btn-success" href="#">Bekijk vacatures</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="https://images.pexels.com/photos/1181673/pexels-photo-1181673.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="companies">
                    <div class="col-lg-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Fontys-Logo.svg/1200px-Fontys-Logo.svg.png" alt="Alternate Text" />
                    </div>
                    <div class="col-lg-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Fontys-Logo.svg/1200px-Fontys-Logo.svg.png" alt="Alternate Text" />
                    </div>
                    <div class="col-lg-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Fontys-Logo.svg/1200px-Fontys-Logo.svg.png" alt="Alternate Text" />
                    </div>
                    <div class="col-lg-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Fontys-Logo.svg/1200px-Fontys-Logo.svg.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-section">
        <div class="row">
            <div class="col-lg-6">
                <h2>Simpel maar elegant</h2>
                <p class="info-text">Wij maken gebruik van een makkelijke ui waardoor je gemakkelijk jouw vacature kan vinden.</p>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </section>
</div>