@{
    ViewData["Title"] = "Developer platform | bedrijf registreren";
}


<div class="row">
    <div class="col-md-4 mx-auto">
        <h2>Uw bedrijf registreren</h2>
        <form>
            <input placeholder="Bedrijfsnaam" class="form-control register-input" />
            <input placeholder="Email" class="form-control register-input" />
            <input placeholder="Wachtwoord" type="password" class="form-control register-input" />
            <input placeholder="Wachtwoord herhalen" type="password" class="form-control register-input" />
            <select placeholder="Geboortedatum" type="text" class="form-control register-input">
                <option>Kies een waarde</option>
                <option>1 - 5</option>
                <option>5 - 10</option>
                <option>10 - 20</option>
                <option>20 - 40</option>
                <option>40 - 100</option>
            </select>
            <input placeholder="Stad" type="text" class="form-control register-input" />
            <input placeholder="Adres" type="text" class="form-control register-input" />
            <input placeholder="Postcode" type="text" class="form-control register-input" />
            <button class="btn btn-success">Registreren</button>
        </form>
    </div>
</div>

