@{
    ViewData["Title"] = "Developer platform | gebruiker inloggen";
}


<div class="row">
    <div class="col-md-4 mx-auto">
        <h2>Inloggen</h2>
        <form>
            <input placeholder="Email" class="form-control register-input" />
            <input placeholder="Wachtwoord" type="password" class="form-control register-input" />
            <button class="btn btn-success">Inloggen</button>
        </form>
    </div>
</div>