@{
    ViewData["Title"] = "Developer platform | registreren";
}


<div class="row">
    <div class="col-md-4 mx-auto">
        <h2>Registreren</h2>
        <form>
            <input placeholder="Naam" class="form-control register-input" />
            <input placeholder="Email" class="form-control register-input" />
            <input placeholder="Wachtwoord" type="password" class="form-control register-input" />
            <input placeholder="Wachtwoord herhalen" type="password" class="form-control register-input" />
            <input placeholder="Geboortedatum" type="text" class="form-control register-input" />
            <input placeholder="Stad" type="text" class="form-control register-input" />
            <input placeholder="Adres" type="text" class="form-control register-input" />
            <button class="btn btn-success">Registreren</button>
        </form>
    </div>
</div>

