@{
    ViewData["Title"] = "Developer platform | vacatures";
}

<h2>Vacature Naam</h2>

<div class="row">
    <div class="col-md-6">
        <p>Als Medior PHP Developer bij deze organisatie heb je een uitdagende functie met veel verantwoordelijkheid. Je krijgt de ruimte en de vrijheid om je eigen ideeën vorm te geven waardoor je doorlopend de mogelijkheid hebt om jezelf te blijven ontwikkelen en je eigen creativiteit kwijt kan.</p>

        <form>
            <textarea class="form-control"></textarea>
            <button class="btn btn-success">Sollciteren</button>
        </form>

    </div>
</div>


