@{
    ViewData["Title"] = "Developer platform | vacatures";
}


@model DeveloperPlatformView.Models.JobOfferModel



<h2>
    @Model.Name
    @Model.JobOfferId
</h2>


<div class="row">
    <div class="col-md-6">

        <p>@Model.Description</p>

        @Html.ActionLink("Solliciteren", "CreateApplication", "Application", new { id = Model.JobOfferId })

    </div>
</div>


