@{
    ViewData["Title"] = "Developer platform | sollicitates";
}

@model List<DeveloperPlatformView.Models.ApplicationModel>


<h2>Alle vacatures</h2>

<p>Bekijk hier alle vacatures</p>

<table class="table
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vacature naam</th>
            <th scope="col">Naam</th>
            <th scope="col">Sollicitatie bekijken</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model)
        {
        <tr>

            <th scope="row">@application.IdApplication</th>
            <td>@application.JobofferId</td>
            <td>@application.UserId</td>
            <td><a href="application/showapplication/@application.IdApplication"><button class="btn btn-success">Sollicitatie bekijken</button></a></td>
        </tr>
        }
    </tbody>
</table>